target
.settings
.project
.classpath
.attach*
raw_test_data*
scratch_test_data*
skeleton_test_data*
*_backup_data*
*~
.metadata
*.releaseBackup
*.versionsBackup
release.properties
*.iml
.idea
