<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>OSGi to JNLP Web Start Web Bundle</title>
    <author email="don@donandann.com">Don Corley</author>
  </properties>

  <!-- Optional HEAD element, which is copied as is into the XHTML <head> element -->
<!-- head>
<meta />
</head  -->

  <body>

     <section name="Quick Start Example">

<p>
Here's a quick example of the OSGi to JNLP Web Bundle.
</p>
<p>
Let's start with a simple OSGi program that has three dependent OSGi modules.
</p>
<p>
Step 1: Download and install an <a href="www.osgi.org">OSGi</a> Framework Distribution.<br/>
We'll use the <a href="http://felix.apache.org">Apache Felix</a> OSGi implementation for our example.
</p>
<p>
Step 2: Start your OSGi implementation and install the OSGi bundles.<br/>
<style type="text/css">
span.response {color:blue}
span.comment {color:blue; font-style:italic}
</style>
<source>
cd felix<br/>
java -jar bin/felix.jar<br/>
<span class="response">g!</span> deploy -s 'Apache Felix Http Jetty'<span class="comment">(Start a web server)</span><br/>
<span class="response">g!</span> repos add ${project.organization.url}/${OBRRepositoryIndex} <span class="comment">(Adding the jbundle obr index simplifies installing bundles)</span><br/>
<span class="response">g!</span> deploy -s '${project.name}' <span class="comment">(Install and start the OSGi to JNLP Web Bundle)</span><br/>
<span class="response">g!</span> deploy 'jbundle-util-biorhythm' <span class="comment">(Install our OSGi project and its dependencies)</span><br/>
</source>
</p>
<p>
Step 3: Start your Web Browser and try the OSGi to Web Start Web Bundle. Type in this url:<br/>
<source>
<a href="http://localhost:8080/webstart/biorhythm?mainClass=org.jbundle.util.biorhythm.Biorhythm">http://localhost:8080/webstart/biorhythm?mainClass=org.jbundle.util.biorhythm.Biorhythm</a><br/>
</source>
You should see a screen like this:<br/>
<img src="./images/screen.jpg"/>
</p>
<p>
<i>Voilà!</i><br/>
Now try this with one of your own applications.
</p>
    </section>

  </body>

</document>
