<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>OSGi to JNLP Web Start Web Bundle</title>
    <author email="don@donandann.com">Don Corley</author>
  </properties>

  <!-- Optional HEAD element, which is copied as is into the XHTML <head> element -->
<!-- head>
<meta />
</head  -->

  <body>

<section name="OSGi to Web Start usage">
<p>
Using the OSGi to Web Start Web Bundle is easy. The only required parameter is the main class name.
All of the other information that Web Start needs come from the OSGi bundles.
</p>
<p>
<ul>
<li><a href="#Web Bundle parameters">Web Bundle parameters</a></li>
<li><a href="#Web Start Applet">Creating a Web Start Applet</a></li>
<li><a href="#Advanced usage">Advanced usage</a></li>
</ul>
</p>

<subsection name="Web Bundle parameters">
<p>
Here are the url parameter that you supply so the OSGi to Web Start Web Bundle can create the
correct JNLP and jar files for your web application or applet. Any unknown params are passed
down to the application or applet.<br/>
Your url should look something like this:<br/>
<code>
<a href="http://localhost:8080/jnlp/biorhythm?mainClass=org.jbundle.util.biorhythm.Biorhythm">http://localhost:8080/jnlp/biorhythm?mainClass=org.jbundle.util.biorhythm.Biorhythm</a><br/>
</code>
<source>
 <b>Main params:</b>
mainClass - The java class with the main method
appletClass - The main applet class
version - The bundle version to deploy
otherPackages - Comma separated list of other packages to include (if you use &lt;DynamicImport-Package&gt;)
(Note: All packages in the target bundle will be included)
template - Path name to a starting jnlp file
    
 <b>Optional params - Default to values in OSGi headers</b>
title - The Web Start Title
vendor - Vendor
homePage - Home page
description - Application description
icon - Icon path
online - Set to 'true' if application must run online
desktop -  Set to 'true' to include application on user's desktop
menu - Setting this value will include the application in the system's menu
javaVersion - Required java version (defaults to 1.6+)
initialHeapSize - Initial heap size
maxHeapSize - Maximum heap size
width - Applet width
height - Applet height
include - A regular expression specifying with packages to include
exclude - A regular expression specifying with packages to exclude
codebase - The codebase of the application (defaults to contextPath/)

Note: All parameters (including these system params) are passed to the applet/application.
If you don't want these params passed to your application, prefix them with 'org.jbundle.util.osgi.jnlp.'.

 <b>Deploy param:</b>
org.jbundle.util.osgi.jnlp.contextpath - The url path to deploy the web bundle (defaults to '/jnlp')

</source>
</p>
</subsection>

<subsection name="Web Start Applet">
<p>
The OSGi to Web Start Web Bundle can also create a Web Start Applet. Just supply the main class
name in the appletClass parameter rather than the mainClass parameter.
</p>
<p>
Typically you would use the java.com Web Start javascript code to start your applet.
Here is an html snippet:
<source>
&lt;script src="http://java.com/js/deployJava.js"&gt;&lt;/script&gt;

&lt;script&gt; 
var attributes = {width: '350', height: '500', name: 'My Applet'} ; 
var parameters = {jnlp_href: '/jnlp/applet?appletClass=org.jbundle.util.biorhythm.Biorhythm', draggable:'true'} ; 
deployJava.runApplet(attributes, parameters, '1.6'); 
&lt;/script&gt;
</source>
There is also a built-in web page for displaying your applets. It is located at <code>docs/applet.html</code>.
All parameters are automatically passed to the web start web bundle. Your url should look something like this:<br/>
<code>
<a href="http://localhost:8080/jnlp/docs/applet.html?appletClass=org.jbundle.util.biorhythm.Biorhythm&amp;language=es">http://localhost:8080/jnlp/docs/applet.html?appletClass=org.jbundle.util.biorhythm.Biorhythm&amp;language=es</a>
</code>
This example also shows how to pass a parameter (language=es) to an application or applet.
</p>
</subsection>

<subsection name="Advanced usage">
<p>
If you really want to make your life easy, use the automatic OSGi bundle retrieval system.
This code automatically finds, deploys, installs, and starts any bundles that are required
for a JNLP Web Bundle.
</p>
<p>
All you have to do is start the ${project.groupId}.obr module and add all your
obr indexes to your OSGi implementation. Any required bundles are added automagically!
</p>
<p>
This web bundle can be used to launch a very complicated jnlp project. For Example:<br/>
<code>
<a href="http://localhost:8080/jnlp/docs?mainClass=org.jbundle.Main&amp;codebase=/&amp;connectionType=Proxy&amp;include=org\.jbundle\..*|biz\.source_code\..*|com\.tourapp\..*&amp;otherPackages=org.jbundle.base.db.client,org.jbundle.base.db.proxy,com.tourapp.tour.booking.db">
         http://localhost:8080/jnlp/docs?mainClass=org.jbundle.Main&amp;codebase=/&amp;connectionType=Proxy&amp;include=org\.jbundle\..*|biz\.source_code\..*|com\.tourapp\..*&amp;otherPackages=org.jbundle.base.db.client,org.jbundle.base.db.proxy,com.tourapp.tour.booking.db
</a>
</code>
</p>
</subsection>

    </section>

  </body>

</document>
