<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>JBackup</title>
    <author email="don@donandann.com">Don Corley</author>
  </properties>

  <!-- Optional HEAD element, which is copied as is into the XHTML <head> element -->
  <!-- head>
    <meta content=""/>
  </head -->

  <body>

     <section name="Description">

  <p>JBackup is a simple pluggable java component that moves files from one place to another.</p>

    </section>
      <section name="Developers Notes">
		<p>
		Typically JBackup is used as a quick and dirty backup program. This program moves files from
		one place to another, so you could move all files that have been changed since the last backup
		to a zip file.
		</p>
		<p>
		To see the JBackup gui, just run JBackup with no parameters:<br/>
		<code>
		java -jar ${project.artifactId}-${project.version}.jar<br/>
		</code>
		</p>
		<p>
		JBackup takes the following (optional) system params:<br/>
		property.filename - The name of the JBackup property file<br/>
		property.quiet - If true, JBackup runs automatically using the params in the property file.
		</p>
		<p>
		I use JBackup to quickly zip any new files and send them to my http backup site:<br/>
		<code>
		java -Dproperty.quiet=True -Dproperty.filename=jbackup-backup.properties -jar ${project.artifactId}-${project.version}.jar<br/>
		java -Dproperty.quiet=True -Dproperty.filename=jbackup-upload.properties -jar ${project.artifactId}-${project.version}.jar<br/>
		</code>
		Where the first files does an incremental backup and the second sends the zip files to my http backup site.
		</p>
    </section>

  </body>

</document>
